/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: rgba(85, 179, 234, 0.7);
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#F7F6F4;
  --title-text-color:#3CBA8B;
}

body{
  background-image: url("http://celepixel.tk/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



